
<div class ="jumbotron bg-white text-center">
    <h1 class="display-4"> Corona Covid19Tracker</h1>
    <hr>
    <p class = "lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus totam unde beatae eveniet in quo reiciendis aliquam quas, 
        consectetur repudiandae earum similique ipsa, eius veritatis error nostrum mollitia at magni!</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum facere deserunt, autem accusamus asperiores a nam sapiente minima provident 
        alias libero voluptatum aperiam cumque magni velit praesentium explicabo dolore nesciunt.</p>
</div>
